$white: #fff;
$white: #fff;

//ratings
$purple: #4902a3;
$green: #01d277;
$red: #d1225b;

//background
$dark:#081b23;
//heading text
$lightgrey: #e3f4fc;
//line breaks
$darkgrey: #0f303d;
//summary text 1
$lighterblue:#e5f7ff;
//summary text 2
$lightblue:#a1d1e5;
//summary text 3
$grey: #b8d8e5;
//body text
$bluegrey:#9fbbc7;
